<!DOCTYPE html>  
<html xmlns:th="http://www.thymeleaf.org">  
<head>  
    <title>Login page</title>  
    <link th:href="@{/public/style.css}" rel="stylesheet" />  
</head>  
<body>  
<div id="container">  
    <h2>Login page</h2>  
    <form th:action="@{/home}" method="post">  
        <label for="username">Username</label>  
        <input type="text" id="username" name="username" autofocus="autofocus" />  
        <label for="password">Password</label>  
        <input type="password" id="password" name="password" /> 
       <!--  <input type="hidden" id="clientId" name="clientId" value=th:text="${param.clientId}">  -->
       <!--  <div th:text="${param.clientId}">search query</div> -->
         <input class="form-control"
           type="hidden"
           th:name="clientId"
           th:value= "${param.clientId}"/>
                 <input class="form-control"
           type="hidden"
           th:name="clientSecret"
           th:value= "${param.clientSecret}"/>
                <input class="form-control"
           type="hidden"
           th:name="grantType"
           th:value= "${param.grantType}"/>
       <!--  <input type="hidden" id="clientSecret" name="clientSecret" >  -->
       <!--  <input type="hidden" id="grantType" name="grantType" value="password">  -->
        <input id="submit" type="submit" value="Log in" />  
    </form>  
    <p th:if="${loginError}" class="error">Wrong user or password</p>  
</div>  
</body>  
</html>